@model IEnumerable<alaska_airlines_test.Models.Flight>

@{
  ViewData["Title"] = "Flight Directory";
}

<h2>Flight Directory</h2>
<hr />
<form asp-action="Index" method="get">
  <div class="form-actions">
    <h4>Search</h4>
    From: <select class="form-control" name="from">
      @foreach(var airport in @ViewData["AllOrigins"] as IEnumerable<String>) {
        <option value="@airport")>@airport</option>
      }
    </select>
    <!-- From:  <input class="half-width" type="text" name="from" value="@ViewData["currentSearchFrom"]" /> -->
    <span style="width: 12px; display: inline-block"></span>
    <!-- To:  <input class="half-width" type="text" name="to" value="@ViewData["currentSearchTo"]" /> -->
    To: <select class="form-control" name="to">
      @foreach(var airport in @ViewData["AllDestinations"] as IEnumerable<String>) {
        <option value="@airport")>@airport</option>
      }
    </select>
    <p style="margin-top: 0.5em"><input type="submit" value="Search" class="btn btn-default" />
    <a asp-action="Index" class="btn btn-secondary">Clear Search</a></p>
  </div>
</form>
<hr />
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.FlightNumber)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.From)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.To)
      </th>
      <th>
        <a href="?sort=@ViewData["SortByDeparture"]">
        @Html.DisplayNameFor(model => model.Departs)
        </a>
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Arrives)
      </th>
      <th>
        <a href="?sort=@ViewData["SortByMainCabinPrice"]">
        @Html.DisplayNameFor(model => model.MainCabinPrice)
        </a>
      </th>
      <th>
        <a href="?sort=@ViewData["SortByFirstClassPrice"]">
        @Html.DisplayNameFor(model => model.FirstClassPrice)
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.FlightNumber)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Departs)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Arrives)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.MainCabinPrice)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.FirstClassPrice)
        </td>
      </tr>
    }
  </tbody>
</table>